@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-Thin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marjor';
    src: url('../fonts/marjor/marjor.woff2') format('woff2');
    font-weight: 400; /* معادل کلاس font-thin*/
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Marjor';
    src: url('../fonts/marjor/marjor.woff2') format('woff2');
    font-weight: 950; /* معادل کلاس font-thin*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-ExtraLight.woff2') format('woff2');
    font-weight: 200; /* معادل کلاس font-extralight*/
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IRANSansFaNum';
    src: url('../fonts/iran-sans/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2');
    font-weight: 200; /* معادل کلاس font-extralight*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-Light.woff2') format('woff2');
    font-weight: 300; /* معادل کلاس font-light*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IRANSansFaNum';
    src: url('../fonts/iran-sans/IRANSansWeb(FaNum)_Light.woff2') format('woff2');
    font-weight: 300; /* معادل کلاس font-light*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-Regular.woff2') format('woff2');
    font-weight: 400; /* معادل کلاس font-normal*/
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IRANSansFaNum';
    src: url('../fonts/iran-sans/IRANSansWeb(FaNum).woff2') format('woff2');
    font-weight: 400; /* معادل کلاس font-normal*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic; /* معادل کلاس italic*/
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-Medium.woff2') format('woff2');
    font-weight: 500; /* معادل کلاس font-medium*/
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IRANSansFaNum';
    src: url('../fonts/iran-sans/IRANSansWeb(FaNum)_Medium.woff2') format('woff2');
    font-weight: 500; /* معادل کلاس font-medium*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-SemiBold.woff2') format('woff2');
    font-weight: 600; /* معادل کلاس font-semibold*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-Bold.woff2') format('woff2');
    font-weight: 700; /* معادل کلاس font-bold*/
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IRANSansFaNum';
    src: url('../fonts/iran-sans/IRANSansWeb(FaNum)_Bold.woff2') format('woff2');
    font-weight: 700; /* معادل کلاس font-bold*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-ExtraBold.woff2') format('woff2');
    font-weight: 800; /* معادل کلاس font-extrabold*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-Black.woff2') format('woff2');
    font-weight: 900; /* معادل کلاس font-black*/
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'IRANSansFaNum';
    src: url('../fonts/iran-sans/IRANSansWeb(FaNum)_Black.woff2') format('woff2');
    font-weight: 900; /* معادل کلاس font-black*/
    font-style: normal;
    font-display: swap;
}

/* =========================================
تعریف وزن‌های اختصاصی (بیشتر از ۹۰۰ یا مابین)
========================================= */

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-UltraBold.woff2') format('woff2');
    font-weight: 850; /* عدد اختصاصی برای UltraBold*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-Heavy.woff2') format('woff2');
    font-weight: 950; /* عدد اختصاصی برای Heavy*/
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anjoman';
    src: url('../fonts/anjoman/Anjoman-FaNum-SuperHeavy.woff2') format('woff2');
    font-weight: 1000; /* عدد اختصاصی برای SuperHeavy*/
    font-style: normal;
    font-display: swap;
}